// Corporate colors
$treva-blue: #7e83ff;

// Text colors
$text-standard: #1c1c1c;
$white: white;
$link: #007099;
//paragraph color
$metalic_bronze: #544837;
// Secondary colors
$charcoal: #434343;
$heading_black: #2f2d2d;
$royal_blue: #4a4edd;
$slate_blue: #7e83ff;
$dark_blue: #130141;
// navigation color
$pink: #fb1488;
$pelorous: #44bcc5;
$blue: #21104c;
$blueberry: #7796fe;
$pale_red: #fe8989;
$green: #67b56f;
$orange: #ff865a;
$purple: #8936dc;
$royal_green:#7bca83;

//tabs color

$dark_grey: #37474f;
$light_grey: #dde7f2;
$accent: $blueberry;
$accent-inactive: $dark_grey;
$secondary: $accent-inactive;

//input color

$off_white: #efefef;
$quill_grey:  #544837;
