
// Breakpoints
$bp-xs: 320px;
$bp-sm: 640px;
$bp-md: 1024px;
$bp-lg: 1440px;

// Grid

$gutter-width-xs: 18px;
$column-width-xs: 9px;

$gutter-width-sm: 20px;
$column-width-sm: 27px;

$gutter-width-md: 20px;
$column-width-md: 59px;

$gutter-width-lg: 20px;
$column-width-lg: 101px;

//small button
$button-small-font-size: 1.125rem;
$button-small-padding: 2% 8%;
$border-radious-small: 20px;
// medium button
$button-medium-font-size: 1.563rem;
$button-medium-padding: 1% 5%;
$border-radious-medium: 8px;
//large subscribe button
$button-large-font-size: 1.688rem;
$button-large-padding: 0.8% 2%;
$border-radious-large: 10px;
