{
  "extends": [
    "stylelint-config-standard",
  ],
  "plugins": [
    "stylelint-scss"
  ],
  "rules": {
    "at-rule-empty-line-before": null,
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true,
    "indentation": "tab",
    "number-leading-zero": null,
    "unit-whitelist": ["em", "rem", "s","px","%"],
    "no-descending-specificity": true,
    "font-family-no-missing-generic-family-keyword": [ true, {
      "ignoreFontFamilies": [
        "icons",
        "icomoon"
      ]
    }
    ]
  }
}